.city-card__wrapper {
    padding: 10px;
}

.city-card {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.5);
    text-align: center;
}

.city-card__delete-icon {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 24px;
    height: 24px;
}

.city-card__delete-icon:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
}
